!!!
%html
  %head

    %link{:rel => :stylesheet, :href => '/stylesheets/index.css'}
    
    %script{:src => 'http://www.google.com/jsapi'}
    :javascript
      google.load('visualization', '1', {'packages':['table']})
    %script{:src => 'javascripts/jQuery.js'}
    %script{:src => 'javascripts/mustache.js'}
    %script{:src => 'javascripts/index.js'}
    %script{:id => 'template', :type => 'x-tmpl-mustache'}
      %label
        %span {{name}}
        %input{:type => "{{type}}", :id=>"{{id}}", :name=> "{{id}}" }
      
    %title Hello Liz

  %body
    .main
      %h1 Welcome there!
      %form{:method => 'post', :action => ''}
        - columns.each do |column|
          - id = column.first.downcase.gsub(' ','_')
          %label
            %span #{column.first}
            - if column.last == 'textarea'
              %textarea{:rows => 4, :id => "#{id}", :name => "#{id}",:required => true}
            - else
              %input{:type => "#{column.last}", :id => "#{id}", :name => "#{id}",:required => true}
        %label
          %span &nbsp;
          %button{:type => 'submit', :value=> 'Submit'}Submit
          %button{:type => 'reset', :value=> 'Clear'}Clear
