!!!
%html
  %head

    %link{:rel => :stylesheet, :href => '/stylesheets/index.css'}
    
    %script{:src => 'javascripts/jquery.js'}
    %script{:src => 'javascripts/mustache.js'}
    %script{:src => 'javascripts/index.js'}
    %meta{:name => 'description', :content => "#{meta_tags['description']}" }
    %title= meta_tags['title']

  %body
    .main
      %h1= meta_tags['title']
      %form{:method => 'post', :action => ''}
        - columns.each do |column|
          - id = column.first.downcase.gsub(' ','_')
          %label
            %span #{column.first}
            - if column.last == 'textarea'
              %textarea{:rows => 4, :id => "#{id}", :name => "#{id}",:required => true}
            - else
              %input{:type => "#{column.last}", :id => "#{id}", :name => "#{id}",:required => true}
        .form-control
          %span &nbsp;
          %button{:type => 'submit', :value=> 'Submit'}Submit
          %button{:type => 'reset', :value=> 'Clear'}Clear
